<header class="bg-dark">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <h1 class="text-2xl font-bold text-gray-100 sm:text-3xl">Crypto Algorithm</h1>

        <p class="mt-1.5 text-sm text-gray-300">
          Unlock the Power of Encryption with Crypto Algorithms Converter
        </p>
      </div>
<!-- 
      <div class="flex items-center gap-4">
        <button
          class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-700 bg-dark px-5 py-3 text-gray-300 transition hover:text-gray-300 focus:outline-none focus:ring"
          type="button"
        >
          <span class="text-sm font-medium"> Domain Finder </span>
        </button>
        <button
          class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-700 bg-dark px-5 py-3 text-gray-300 transition hover:text-gray-300 focus:outline-none focus:ring"
          type="button"
        >
          <span class="text-sm font-medium"> Domain Finder </span>
        </button>
        <button
          class="inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
          type="button"
        >
          Create Post
        </button>
      </div> -->
    </div>
  </div>
</header>