<!-- component -->
<div class="bg-dark py-18 sm:py-18" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-700 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
      <div class="p-8 sm:p-10 lg:flex-auto">
        <div class="lg:col-span-2">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
            <div class="md:col-span-2 mt-5">
              <label for="algorithms" class="mt-1">Algorithms</label>
              <p-dropdown 
                class="mt-1" 
                [options]="algorithmsList" 
                [(ngModel)]="selectedAlgorithm" 
                optionLabel="type_algorithms"
                placeholder="Select an Algorithm" 
                (onChange)="onAlgorithmChange()">
              </p-dropdown>
            </div>
            
            <div class="md:col-span-2 mt-5">
              <label for="subAlgorithm" class="mt-1">Sub-Algorithm</label>
              <p-dropdown 
                class="mt-1"
                [disabled]="subAlgorithmList.length === 0"
                [options]="subAlgorithmList" 
                [(ngModel)]="selectedSubAlgorithm" 
                optionLabel="name" 
                placeholder="Select a Sub Algorithm">
              </p-dropdown>
            </div>
            
            <div class="md:col-span-1 mt-5">
              <label for="encType" class="mt-1">Encryption Type</label>
              <p-dropdown 
                class="mt-1" 
                [options]="encType" 
                [(ngModel)]="selectedEncType" 
                optionLabel="encryption_type"
                placeholder="Type">
              </p-dropdown>
            </div>
            
            <div class="md:col-span-5 mt-5">
              <label for="key">Key</label>
              <textarea 
              class="border mt-1 rounded px-4 w-full " 
              rows="2" 
              cols="120" 
              pInputTextarea 
              placeholder="Enter your Key"
              [(ngModel)]="key"
              > 
              </textarea>
            </div>
            
            <div class="md:col-span-2">
              <label for="inputText">Text</label>
              <textarea 
              class="border mt-1 rounded px-4 w-full" 
              rows="5" 
              cols="45" 
              pInputTextarea 
              placeholder="Enter your Text"
              [(ngModel)]="inputText"
              > 
              </textarea>
            </div>
            
            <div class="md:col-span-3">
              <label for="outputText">Output</label>
              <textarea
              class="border mt-1 rounded px-4 w-full"  
              rows="5" 
              cols="70" 
              pInputTextarea 
              placeholder="Output will appear here"
              [(ngModel)]="outputText"
              > 
              </textarea>
            </div>
            
            <div class="md:col-span-5 text-right">
              <div class="inline-flex items-end">
                <p-button [text]="true" label="Process" [loading]="loading" (onClick)="process()" />
                <p-button severity="danger" [text]="true" (click)="resetForm()"> reset </p-button>
               <div *ngIf="parsedOutputText">
                   <p-button severity="secondary" [text]="true" (click)="showJsonCrack()">
                    View in JSONCrack
                  </p-button>
                </div>
              </div>
            </div>
            <div *ngIf="errorMessage">
              <p style="color: red;">{{ errorMessage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-sidebar 
  id="jsoncrackEditor"
  header="Parsed JSON Output"
  position="right" 
  [(visible)]="displayJsonDialog" 
  [modal]="true" 
  [responsive]="true" 
  [closable]="true">
  
  <ng-container *ngIf="parsedOutputText;">
    <andypf-json-viewer
      [data]="parsedOutputText"
      indent="2"
      expanded="true"
      theme="default-dark"
      show-data-types="true"
      show-toolbar="false"
      show-copy="true"
      show-size="true">
    </andypf-json-viewer>
  </ng-container>
</p-sidebar >


<!-- PrimeNG p-dialog for showing iframe -->
<p-dialog id="jsoncrack" [(visible)]="displayDialog" [modal]="true">
  <ng-template pTemplate="header">
    <p-button severity="secondary" [text]="true" (click)="showJsonCrack()">View in JSONCrack</p-button>
  </ng-template>
  <ng-template pTemplate="content">
    <iframe id="jsoncrackEmbed" src="https://jsoncrack.com/widget" style="width: 100%; height: 850px;" *ngIf="displayDialog"></iframe>
  </ng-template>
</p-dialog>